header {
	background-color: rgba(250, 207, 179, 1);
	text-align: center;
	width: auto;
	height: auto;
	padding: 0px;
	margin: 0px;
}

body {
	display: flex;
	background-color: rgba(255, 232, 160, 1);
 	padding: 10px;
 	justify-content: center;
}

.message {
	font-size: 2em;
	padding: 5px;
}

h1{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.twit {
	display: flex-box;
	margin: 20px;
	padding: 15px;
	border-style: solid;
	border-width: 2px;
	align-items: column;
	max-width: 620px;
	flex-direction: column;

}

.main {
	display: flex;
	flex-direction: column;
}